body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #BAB0D4, #4C1A57);
}

.container {
    display: flex;
}


.sidebar {
    width: 25%;
    padding: 50px;
    background: linear-gradient(135deg, #BAB0D4, #4C1A57);
    min-height: 100vh;
}

.sidebar h2 {
    font-size: 34px;
    font-weight: bold;
    color: #4C1A57;
    line-height: 1.3;
}

.highlight {
    width: 60px;
    height: 4px;
    background: #4C1A57;
    margin: 10px 0 20px 0;
}

.side-banner {
    background: #4C1A57;
    color: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 30px;
}

.side-banner h3 {
    margin: 0 0 10px 0;
}


.content {
    width: 75%;
    padding: 20px 40px;
}


.operator-box {
    margin-bottom: 20px;
}

.operator-box label {
    font-size: 16px;
    font-weight: bold;
    color: #4C1A57;
    margin-right: 10px;
}

.operator-box select {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #777;
    cursor: pointer;
}


.tabs {
    display: flex;
    gap: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tab {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.tab.active {
    color: #4C1A57;
    border-bottom: 3px solid purple;
    font-weight: bold;
}

.plan-list {
    margin-top: 20px;
}

.plan-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #eee;
    transition: 0.3s;
}

.plan-card:hover {
    transform: scale(1.02);
}

.plan-left h2 {
    margin: 0;
    color: black;
}

.plan-left p {
    margin: 8px 0;
    color: #555;
}

.plan-right {
    text-align: right;
    color: #555;
    font-size: 14px;
}
