body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #BAB0D4, #4C1A57);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background:#4C1A57;
    padding: 30px;
    width: 360px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

.recharge-form .form-group {
    margin-bottom: 18px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color:white;
}

input, select {
    width: 99%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus, select:focus {
    border-color: #007bff;
}

.pay-btn {
    width: 100%;
    background: purple;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.pay-btn:hover {
    background: rgb(217, 25, 217);
}
