#btn-click{
    margin-top:50px;
    margin-left:150px;
    padding-left:20px;
    padding-right:20px;
    padding:6px;
    border:none;
    background-color:red;
    color:white;
    font-family:Cambria, Cock;
    font-size:small;
    border-radius:5px;

}
.btn-register{
    border-style:none;
}
.btn-register:hover{
    
}