h1{
    text-align:center;
}
.containner{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}
.container img{
    max-width:100%;
    height:auto;
}
@media(max-width:1024px){
    .container{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(max-width:600px){
    .container{
        grid-template-columns:repeat(1,1fr)!important;
    }
}